body {
    font-family: Arial, sans-serif;
}

#menu-section {
    background: #d9d9d9;
    padding: 20px;
    height: 1000px;
}

#collapsable-nav {
    background: #f0f0f0;
}

#collapsable-nav li {
    border-bottom: 1px solid #999;
}

#collapsable-nav a {
    color: black;
}
